$weights: (
  "thin": 100,
  "light": 300,
  "normal": 400,
  "bold": 600,
  "ultra": 800,
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 991px,
  "xl": 1200px,
);

$color-primary: #0d0d0d;
$color-secondary: #202020;
$color-tertiary: #404040;
$color-neon: #00f0e1;
